
<div class="container">
    <div class="card">
        <div class="card-header">
            <div>
                Student name
            </div>
            <div style="text-align: right;">
                Rating:4.5
            </div>
        </div>
        <div class="card-body">
            <label for="name">Name:-</label>
            <input type="text">
    
            <app-rate>
                <!-- //rating component  -->
            </app-rate>
        </div>
        <div class="card-footer">
            <button type="button">Submit</button>
        </div>
    </div>
</div>
